/doc/sql/*
/**/.idea
/**/.mvn
/**/target
/**/HELP.md
/**/mvnw
/**/mvnw.cmd
/**/*.iml
/**/*.log
.idea/**/workspace.xml
.idea/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
docker
nohup.out
/.idea/
.idea/
/runtime
./runtime
/assets/cache
./assets/cache
/kernel/Install/Lock
./kernel/Install/Lock

